<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="library.tebyan.com.teblibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="ANDROID.PERMISSION.READ_PHONE_STATE"/>
    <uses-permission android:name="ANDROID.PERMISSION.MODIFY_PHONE_STATE"/>

    <application
        android:hardwareAccelerated="false"
        android:name=".classes.Globals"
        android:allowBackup="true"
        android:icon="@drawable/app_icon_teb"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
       <!-- <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>-->
        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".MobileNoActivity"
            android:label="@string/title_activity_mobile_no"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DescriptionActivity"
            android:label="@string/description_activity_title"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>
        <!--android:windowSoftInputMode="adjustNothing"-->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/My_Theme"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>